@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

.logo1{
  margin: 22px auto 12px;
  text-align: center;
}

.box1{
  flex-grow: 1;
  justify-content: center;
  margin-top: 12px;
  max-width: 350px;
  background: #fff;
  border: 1px solid #e6e6e6;
  border-radius: 1px;
  padding: 40px 40px 20px;
}


.input{
  flex: 1 0 auto;
  margin: 0;
  outline: 0;
  overflow: hidden;
  padding: 9px 0 7px 8px;
  text-overflow: ellipsis;
  width: 100%;
  background: #fafafa;
  border: 1px solid #efefef;
  font-size: 12px;
  border-radius: 3px;
  color: #262626;
  padding: 10px;

}

.btn {
  background-color: #3897f0;
  opacity: 1;
  flex: 0 0 auto;
  -webkit-box-flex: 0;
  text-align: center;
  color: #fff;
  border-radius: 4px;
}

.or{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 15px;
  margin: 15px 0 20px;
}

.line {
  width: 105px;
  height: 2px;
  background: #efefef;
}

.texto1{
    color: #999;
    font-size: 12px;
}

.fb {
  display: flex;
  justify-content: center;
  align-items: center;
}

.parrafofb {
  color: #385185;
  font-weight: 500;
  margin-left: 10px;
}

.forgot {
  font-size: 12px;
  text-align: center;
  margin-top: 20px;
}

.aforgot{
  color: #003569;
}

.signup {
  margin: 10px 0 20px;
  padding: 25px 40px;
  text-align: center;
  color: #262626;
}

.txregistro{
  color: #3897f0;
}

.apps {
  text-align: center;
  color: #262626;
}

.texto2 {
  margin-bottom: 20px;
}

.imagenes {
  
  width: 135px;
  height: 40px;
  margin: 0 5px;
}
